{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.12.0"}
        io.github.noonian/cromulent {:git/sha "e5fcdfdf8e019ab6b5015c9d22beb3fc2001c9cc"}}
 :aliases
 {;; the cromulent checkout beside this one in place of the pinned sha:
  ;; clojure -M:local:test, jolt -M:local:test
  :local {:override-deps {io.github.noonian/cromulent {:local/root "../cromulent"}}}
  :test {:extra-paths ["test"]
         :extra-deps {org.clojure/test.check {:mvn/version "1.1.1"}}
         :main-opts ["-m" "bendix.test-runner"]}
  :bench {:extra-paths ["bench"]
          :main-opts ["-m" "bendix.bench"]}}
 :tasks
 {test {:extra-paths ["test"]
        :extra-deps {org.clojure/test.check {:mvn/version "1.1.1"}}
        :main-opts ["-m" "bendix.test-runner"]}
  bench {:extra-paths ["bench"]
         :main-opts ["-m" "bendix.bench"]}}}
